<ion-header>
  <ion-item color="danger">
    <ion-grid>
      <ion-row *ngIf="authService.checkLoggedIn()">
        <ion-col></ion-col>
        <ion-col>
          <ion-avatar class="image-center" (click)="presentPopover($event)">
            <img alt="profiel foto" *ngIf="this.authService.returnCurrentUser()?.photoURL !== null" [src]="this.authService.returnCurrentUser().photoURL">
            <img alt="standard foto" *ngIf="this.authService.returnCurrentUser()?.photoURL === ''" [src]="'https://www.clker.com/cliparts/i/P/o/p/y/t/gray-silhouette-of-a-man-hi.png'">
            <img alt="standard foto" *ngIf="this.authService.returnCurrentUser()?.photoURL === null" [src]="'https://www.clker.com/cliparts/i/P/o/p/y/t/gray-silhouette-of-a-man-hi.png'">
          </ion-avatar>
        </ion-col>
        <ion-col class="ion-text-end ion-margin-vertical" >
          <ion-button fill="clear" color="light" [routerLink]="['/create-event']">
            <ion-icon name="add" size="large"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!authService.checkLoggedIn()">
        <ion-col size="12" class="ion-text-center">
          <ion-label>Log in of registreer je</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>


</ion-header>

