
<ion-content >
  <app-menu></app-menu>
  <ion-grid class="ion-text-center createDesign">
    <ion-row>
      <ion-col class="ion-align-items-self">
        <ion-item lines="none">


        <h2>*Geef een titel aan je event 🥳🥳</h2>
      </ion-item>
        <ion-item lines="full">
          <ion-input placeholder="Het meest knallende event ever" [(ngModel)]="title"></ion-input>
        </ion-item>

        <ion-item lines="none">


          <h2>
            *Waar is het event?
          </h2>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-input type="text" placeholder="Kleinhoefstraat 4, Geel" [(ngModel)]="adress"></ion-input>
              </ion-col>
              <ion-col>
                <ion-input type="text" placeholder="geef je plaats een naam(optioneel)" [(ngModel)]="ownLocationName"></ion-input>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-item>


        <ion-item lines="none">
          <h2>*Gasten?</h2>

        </ion-item>
        <ion-item lines="none">
          <ion-button class="buttonContacts" (click)="openContacts()" color="danger">Contacten selecteren  <ion-icon name="person-add-outline"></ion-icon></ion-button>
        </ion-item>
        <span *ngIf="contacts?.length > 0 && contacts !== undefined" >
          <ion-item *ngFor="let contact of contacts">
            <ion-label> {{contact.displayName}}</ion-label>
          </ion-item>
        </span>

        <ion-item lines="full">

          <h2>*Kies je moment <ion-icon name="calendar"></ion-icon>
            <ion-datetime  display-format="MMM DD, YYYY HH:mm" max="2025-10-31" [min]="minDate"
                           [(ngModel)]='selectedDate'>
            </ion-datetime></h2>



      </ion-item>

        <ion-item lines="none">
            <h2>*Kies je dresscode</h2>
          </ion-item>
        <ion-item>
          <ion-label>Dresscode</ion-label>
          <ion-select interface="popover" [(ngModel)]="selectedCode">
            <ion-select-option [value]="dresscode" *ngFor="let dresscode of dresscodes" >{{dresscode}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <h2>*Geef een boodschap mee</h2>
        </ion-item>
        <ion-item>

          <ion-item lines="full">
            <ion-textarea placeholder="Dit is de graafste party OOIT" cols="200" [(ngModel)]="message"></ion-textarea>
          </ion-item>
        </ion-item>
          <ion-button (click)="createEvent()" color="danger">Maak je event aan</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<!--
<ion-content *ngIf="!isNative()">
  <app-menu></app-menu>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col class="ion-align-items-self">
        <h1>Het is alleen mogelijk om een event aan te maken in de app</h1>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
!-->
