

<ion-content [fullscreen]="true">
<app-menu></app-menu>
  <ion-grid class="ion-text-center">

    <ion-row>
      <ion-col class="ion-align-self-center">
       <ion-item><p>install</p></ion-item>
        <ion-item><p>install</p></ion-item>
        <ion-item><p>install</p></ion-item>       <ion-item><p>install</p></ion-item>
        <ion-button (click)="authorizationService.logOut()" ></ion-button>
      </ion-col>-
      <ion-item *ngFor="let contact of (contacts | async)?.contacts">{{contact.displayName}}</ion-item>
    </ion-row>
  </ion-grid>

   </ion-content>
